@page "/aboutUs"
@inherits LayoutComponentBase
@using GoPlayAsia.Components.Layout
@layout HeaderFooterLayout

<PageTitle>GoPlayAsia: About Us </PageTitle>
<div class="container-fluid p-0 justify-content-center text-center align-items-center">
    <div class="header-img">
        <div class="wave"></div>
        <h1 class="px-4 text-white fw-bolder text-center header-text">Who We Are</h1>
    </div>
</div>
<div id="aboutUs" class="container-fluid p-0 marketing">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-md-8 text-white">
                <h1>
                    <span>About</span>
                    <span class="text-warning">GoPlayAsia</span>
                </h1>
                <p>GOPLAYASIA is now the country’s hottest remote gaming platform enjoyed by millions of Filipinos. It is a combination of casino-based games and culturally-accepted recreations that have been a part of the local culture for many generations.</p>
                <p>Our games are simple and very user-friendly. Each one is designed to interact among players of wide-age spectrum totally crashing the digital divide especially among the elderly players.</p>
                <p>Regulated by the Philippine Amusement and Gaming Corporation (PAGCOR), GOPLAYASIA runs in full accordance with all PAGCOR standards in responsible gaming. We have protocols installed in our system that protect the well-being and integrity of the Filipino family: legal age filtering, feedback and report mechanisms, IP blocking and other parameters that insure a responsible, clean and fair gaming all throughout.</p>
                <p>GOPLAYASIA aims to stay in the gaming industry for the long-run. Each year, it aims to strengthen its bond with the government by continuously and significantly contributing to the much-needed revenue that goes straight to the people for: health, education, calamity assistance, hunger and poverty alleviation, sports and youth development and other special projects of the Office of the President that need emergency and special funding.</p>
                <p>It is only through this well-managed collaboration that proponents like the GOPLAYASIA can become a responsible and working partner with the government towards a responsible and better Filipino.</p>
            </div>
            <div class="col-md-4">
                <img src="./img/table-card.png" class="img-fluid img-thumbnail">
            </div>
        </div>

        <div class="row py-5">
            <div class="col-md-8 text-white">
                <h1>Casino Filipino Drawcourt</h1>
                <p>GoPlayAsia is nestled inside the PAGCOR Casino in Mactan, Cebu. It occupies its own private space where all our gaming activities are conducted.</p>
                <p>In here, games are actively facilitated with actual dealers and ballers handing out the games and broadcasters providing live on-site audio coverage. The venue is equipped with top-of-the-line automated audio-video streaming equipment bringing GoPlayAsia straight into the mobile phones of our registered players.</p>
                <h4>
                    GoPlayAsia is here and we are now
                    <span class="text-warning">LIVE!</span>
                </h4>
                <a href="#" class="btn btn-warning m-2">Play Now</a>
            </div>
            <div class="col-md-4">
                <img src="./img/thumbnail-casino.jpg" class="img-fluid img-thumbnail">
            </div>
        </div>



        <h3 class="text-center text-white fw-bolder">Organizational Statement</h3>
        <div class="row pb-2 pt-3 justify-content-center text-white">

            <div class="card m-4 p-0 h-25 bg-transparent border-0" style="width: 20rem;">
                <div class="container-fluid p-0 w-25">
                    <img src="./img/bullseye-arrow.png" class="img-fluid" alt="">
                </div>
                <div class="content text-center">
                    <h4 class="fw-bolder">Our Mission</h4>
                    <p class="text-sm-center px-5">To offer the best live remote gaming experience and entertainment to all Filipinos nationwide</p>
                </div>
            </div>

            <div class="card m-4 p-0 h-25 bg-transparent border-0" style="width: 20rem;">
                <div class="container-fluid p-0 w-25">
                    <img src="./img/vision.png" class="img-fluid" alt="">
                </div>
                <div class="content text-center">
                    <h4 class="fw-bolder">Our Vision</h4>
                    <p class="text-sm-center px-5">To be the leading remote gaming platform promoting responsible gaming to all qualified Filipinos</p>
                </div>
            </div>

            <div class="card m-4 p-0 h-25 bg-transparent border-0" style="width: 20rem;">
                <div class="container-fluid p-0 w-25">
                    <img src="./img/values.png" class="img-fluid" alt="">
                </div>
                <div class="content text-center">
                    <h4 class="fw-bolder">Our Values</h4>
                    <p class="text-sm-center px-5">To be in a stable partnership with PAGCOR in revenue-generation that benefits the small Filipinos</p>
                </div>
            </div>
        </div>
    </div>
</div>