@page "/FAQ's"
@inherits LayoutComponentBase
@using GoPlayAsia.Components.Layout
@layout HeaderFooterLayout
<PageTitle>GoPlayAsia: FAQ's </PageTitle>

<div class="container-fluid p-0 justify-content-center text-center align-items-center">
    <div class="header-img">
        <div class="wave"></div>
        <h1 class="px-4 text-white fw-bolder text-center header-text">FAQ's</h1>
    </div>
</div>
<div id="FAQs" class="container-fluid p-0 marketing">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-8 text-white">
                <h1>FREQUENTLY ASKED QUESTIONS</h1>
                <FAQAccordion />
            </div>
            <div class="col-md-4 text-center">
                <h4 class="text-center text-white mb-0 pb-3 mt-5">
                    <p class="text-warning">Need Help?</p>
                    Chat our Customer Service Representative!
                </h4>
                <a href="https://m.me/GoPlayAsiaOFFICIAL" class="mb-4">
                    <img src="./img/MessageUsFB.png" class="img-fluid img w-25" alt="Contact Us">
                </a>
                <img src="./img/FAQ-GoPlayAsia-Model.png" class="img-fluid img-thumbnail mt-5">
            </div>
        </div>
    </div>
</div>