body {
    font-family: Open Sans,Oswald,Arial,sans-serif !important;
    font-size: 14px;
    color: #666;
    line-height: 1.7em;
    font-weight: 500;
}

.marketing {
    background-image: url(./img/bg-middle.png),linear-gradient(180deg,#281728 20%,rgba(132,31,53,1) 60%,#101019 100%) !important;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer {
    background: #101019;
}

/*================== Chat Support Icon ======================*/
.chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 999;
    border-radius: 15%;
    padding: 5px;
    background: #9baf3a;
}

.chat-icon img {
    width: 50px;
}

.chat-popup {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    max-width: 300px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.chat-header {
    padding: 10px;
    background-color: #899743;
    color: white;
    text-align: center;
}

.chat-close {
    cursor: pointer;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.chat-content {
    padding: 10px;
}
