@page "/ourTeam"
@inherits LayoutComponentBase
@using GoPlayAsia.Components.Layout
@layout HeaderFooterLayout
<PageTitle>GoPlayAsia: Our Team </PageTitle>

<div class="container-fluid p-0 justify-content-center text-center align-items-center">
    <div class="header-img">
        <div class="wave"></div>
        <h1 class="px-4 text-white fw-bolder text-center header-text">Our Team</h1>
    </div>
</div>

<div id="ourTeam" class="container-fluid p-0 marketing">
    <div class="container py-5 text-center">
        <h1 class="text-warning">MEET THE TEAM BEHIND THE GAMES</h1>
        <h6 class="text-white">GoPlayAsia is powered by technical and creative individuals who keep your gaming experience safe, secure and stable</h6>
        <div class="row pb-2 pt-3 justify-content-center text-white">

            <div class="card m-3 p-0 h-25 bg-transparent border-0" style="width: 25rem;">
                <div class="container-fluid p-0 w-50">
                    <img src="./img/ourTeam/CSR-Agent-Cartoon_.png" class="img-fluid" alt="">
                </div>
                <div class="content text-center">
                    <h4 class="fw-bolder">CSR SPECIALISTS</h4>
                    <p class="text-sm-center px-5">The “go to” people for all GOPLAYASIA players: they give full assistance for various queries submitted by our millions of players nationwide. Registration, Cash-In and Cash-Out, Game Mechanics and all other issues that need immediate solutions are addressed by these frontliners. CSR commlines are open: 7:00am to 12mn.</p>
                </div>
            </div>
            <div class="card m-3 p-0 h-25 bg-transparent border-0" style="width: 25rem;">
                <div class="container-fluid p-0 w-50">
                    <img src="./img/ourTeam/Game-Dealer-Cartoon_.png" class="img-fluid" alt="">
                </div>
                <div class="content text-center">
                    <h4 class="fw-bolder">DEALERS & BALLERS</h4>
                    <p class="text-sm-center px-5">The “Faces of the Games.” Although required to wear face masks on duty, they are seen on-cam dealing cards or dropping balls to keep the games going. These frontliners have been screened, trained and validated by PAGCOR for a secure, fair and responsible gaming all the time.</p>
                </div>
            </div>
            
            <div class="card m-3 p-0 h-25 bg-transparent border-0" style="width: 25rem;">
                <div class="container-fluid p-0 w-50">
                    <img src="./img/ourTeam/IT-Cartoon_.png" class="img-fluid" alt="">
                </div>
                <div class="content text-center">
                    <h4 class="fw-bolder">Game Designers and Developers</h4>
                    <p class="text-sm-center px-5">The “Technical Think Tank” of GOPLAYASIA where all games, original or adaptations, emanates. From their minds and into their programming consoles, the games go through the whole nine years into full completion.</p>
                </div>
            </div>
            <div class="card m-3 p-0 h-25 bg-transparent border-0" style="width: 25rem;">
                <div class="container-fluid p-0 w-50">
                    <img src="./img/ourTeam/Broadcaster-Cartoon_.png" class="img-fluid" alt="">
                </div>
                <div class="content text-center">
                    <h4 class="fw-bolder">BROADCASTERS</h4>
                    <p class="text-sm-center px-5">The “Voices of the Games.” These very vocal yet off-cam personalities provide blow-by-blow coverage of each game adding substance, information and of course, fun to remote gaming.</p>
                </div>
            </div>
            <div class="card m-3 p-0 h-25 bg-transparent border-0" style="width: 25rem;">
                <div class="container-fluid p-0 w-50">
                    <img src="./img/ourTeam/QA-Cartoon_.png" class="img-fluid" alt="">
                </div>
                <div class="content text-center">
                    <h4 class="fw-bolder">QUALITY ASSURANCE</h4>
                    <p class="text-sm-center px-5">“Hawkeyes.” These other breed of specialists monitors our gaming operation in the drawcourt to ensure that everything is in accordance with PAGCOR’s Implementing Rules and Guidelines.</p>
                </div>
            </div>
            

        </div>

        <di class="container p-0">
            <div class="row">
                <OurTeamCarousel />
            </div>
        </di>

    </div>
</div>