<div id="goPlayAsia-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active bg-bigWin">
            <div class="text-end carousel-fade"><img src="./img/carousel/slide-bigWin.png" class="img-fluid img-mobile" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" /></div>
            <div class="container">
                <div class="carousel-caption carousel-fade text-start content-mobile">
                    <h1>Drop Ball Games</h1>
                    <p>
                        <span style="color: #ffff00;" class="fw-bold">BIG WIN | LUCKY 4 | GO 12</span><br>
                        <span>Drop ball games are among that provide more excitement and fun</span><br>
                        <span>The thrill never stops until your luck is decided by the fall of each ball.</span><br>
                        <span>Test your luck with our drop ball games and you realize how easy it is to win!</span>
                    </p>
                    <p>
                        @* <a class="btn btn-lg btn-warning btn-mobile" href="#">Play Now</a> *@
                        <button class="btn btn-warning play-btn">
                            <span class="fw-bold">Play Now</span>
                            <div class="arrow">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </button>
                    </p>
                </div>
            </div>
        </div>

        <div class="carousel-item bg-lucky9">
            <div class="text-end carousel-fade"><img src="./img/carousel/slide-lucky9.png" class="img-fluid img-mobile" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" /></div>
            <div class="carousel-caption carousel-fade text-start content-mobile">
                <h1>Card Games</h1>
                <p>
                    <span style="color: #ffff00;" class="fw-bold">LUCKY 9 | FIRST 3</span><br>
                    <span>Our new card games are upgraded for a better gaming experience of players.</span><br>
                    <span>More betting options, automated card reader and more.</span><br>
                    <span>Online gaming will be never the same again!</span>
                </p>
                <p>
                    <button class="btn btn-warning play-btn">
                        <span class="fw-bold">Play Now</span>
                        <div class="arrow">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </button>
                </p>
            </div>
        </div>

        <div class="carousel-item bg-headAndTails">
            <div class="text-end carousel-fade"><img src="./img/carousel/slide-headAndTails.png" class="img-fluid img-mobile" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" /></div>
            <div class="carousel-caption carousel-fade text-start content-mobile">
                <h1>Coin Games</h1>
                <p>
                    <span style="color: #ffff00;" class="fw-bold">HEADS &amp; TAILS</span><br>
                    <span>Our boyhood playmate. The coin game never runs out of fun and memories.</span><br>
                    <span>For many generations this game has always been a part of our culture growing up.</span><br>
                    <span>Let’s GOPLAY it again!</span>
                </p>
                <p>
                    <button class="btn btn-warning play-btn">
                        <span class="fw-bold">Play Now</span>
                        <div class="arrow">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </button>
                </p>
            </div>
        </div>

        <div class="carousel-item bg-diceGame">
            <div class="text-end carousel-fade"><img src="./img/carousel/slide-diceGame.png" class="img-fluid img-mobile" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" /></div>
            <div class="carousel-caption carousel-fade text-start content-mobile">
                <h1>Dice Games</h1>
                <p class="fw-bold">Let’s GoPlay Soon!</p>
                <p>
                    <button class="btn btn-warning play-btn">
                        <span class="fw-bold">Play Now</span>
                        <div class="arrow">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </button>
                </p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#goPlayAsia-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#goPlayAsia-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>