<div class="accordion" id="goPlayAsiaAccordion">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#goPlayAsiaFAQ" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                <h5>How to play GoPlayAsia?</h5>
            </button>
        </h2>
        <div id="goPlayAsiaFAQ" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body text-black">
                <ul class="ul-accord">
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            You must be a verified player
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            Log in your username and password
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            Make sure you have enough tokens to play our games.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                <h5>How to register and create an account?</h5>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body text-black">
                <ul class="ul-accord">
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            Click “Register now” and comply with all the required fields given in the screens.
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            Input the agent referral key if applicable.
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            After Read the Privacy Policy and Terms and Condition, check the tick box and then click “Submit”.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                <h5>I am a registered user, but can't login?</h5>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body text-black">
                <ul class="ul-accord">
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            A newly registered account will be reviewed prior to approval.
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            Approval of newly registered accounts with complete details and requirements will take at least 5 minutes.
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            You will be notified via SMS on the status of your registration.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                <h5>Can I register multiple accounts?</h5>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
            <div class="accordion-body text-black">
                <ul class="ul-accord">
                    <li>
                        <p>
                            <span class="rounded-circle bg-warning text-black fw-bold check"><i class="fa-solid fa-info"></i></span>
                            Only one mobile number is allowed per account.
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-warning text-black fw-bold check"><i class="fa-solid fa-info"></i></span>
                            Multiple accounts are screened and rejected by our Customer Service.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                <h5> What Valid IDs are accepted for registration?</h5>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
            <div class="accordion-body text-black">
                <ul class="ul-accord">
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            e-Card / UMID
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            Driver’s License
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            Professional Regulation Commission (PRC)
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            Passport
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            Senior Citizen ID
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            SSS ID
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            COMELEC / Voter’s ID / COMELEC
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            Registration Form
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            Philippine Identification (PhilID)
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            NBI Clearance
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            Integrated Bar of the Philippines (IBP) ID
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            Firearms License
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            BIR (TIN)
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            Pag-ibig ID
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            Person’s With Disability (PWD) ID
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            Solo Parent ID
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            Pantawid Pamilya Pilipino Program (4Ps) ID
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            Barangay ID
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            Philippine Postal ID
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            Phil-health ID
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            Alien Certificate of Registration /Immigrant Certificate of Registration
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            Or any future valid government ID
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
                <h5>What time does the live stream game start and end?</h5>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
            <div class="accordion-body text-black">
                <ul class="ul-accord">
                    <li>
                        <p>
                            <span class="rounded-circle bg-warning text-black fw-bold check"><i class="fa-solid fa-info"></i></span>
                            The live stream starts at 11:00 am.
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-warning text-black fw-bold check"><i class="fa-solid fa-info"></i></span>
                            The live stream ends at 1:00 am.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseSeven">
                <h5>Where to Cash In and Cash Out?</h5>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSeven">
            <div class="accordion-body text-black">
                <ul class="ul-accord">
                    <li>
                        <p>
                            <span class="rounded-circle bg-warning text-black fw-bold check"><i class="fa-solid fa-info"></i></span>
                            All Cash In/Out transactions will be through our official payment gateway partner UNION BANK.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingEight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false" aria-controls="panelsStayOpen-collapseEight">
                <h5>How to Cash In?</h5>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingEight">
            <div class="accordion-body text-black">
                <ul class="ul-accord">
                    <li>
                        <p>
                            <span class="rounded-circle bg-warning text-black fw-bold check"><i class="fa-solid fa-info"></i></span>
                            Log in to <a href="https://goplayasia.com/home/">play.goplayasia.com </a> and click the Wallet icon.
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-warning text-black fw-bold check"><i class="fa-solid fa-info"></i></span>
                            Select UPAY on Deposit tab. Illustrated guide.
                            <a href="https://goplayasia.com/wp-content/uploads/2023/04/DEPOSIT-UPAY.pdf">Click here</a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingNine">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseNine" aria-expanded="false" aria-controls="panelsStayOpen-collapseNine">
                <h5>How to Cash Out?</h5>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseNine" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingNine">
            <div class="accordion-body text-black">
                <ul class="ul-accord">
                    <li>
                        <p>
                            <span class="rounded-circle bg-warning text-black fw-bold check"><i class="fa-solid fa-info"></i></span>
                            Log in to <a href="https://goplayasia.com/home/">play.goplayasia.com </a> and click the Wallet icon.
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-warning text-black fw-bold check"><i class="fa-solid fa-info"></i></span>
                            Select UPAY on Withdraw tab. Illustrated guide.
                            <a href="https://goplayasia.com/wp-content/uploads/2023/04/WITHDRAW-UPAY.pdf">Click here</a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTenheadingTen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTen" aria-expanded="false" aria-controls="panelsStayOpen-collapseTen">
                <h5>What to do if there’s a delay after cash-in?</h5>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTen" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTen">
            <div class="accordion-body text-black">
                <ul class="ul-accord">
                    <li>
                        <p>
                            <span class="rounded-circle bg-warning text-black fw-bold check"><i class="fa-solid fa-info"></i></span>
                            If there’s a delay within 5 minutes, kindly contact our CS or visit our <a href="https://www.facebook.com/GoPlayAsiaOFFICIAL"><i class="fa-brands fa-square-facebook"></i> Facebook Page</a> for clarifications and procedures. Kindly, send the following:
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            Player Username
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            Registered Mobile Number
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            Proof of Payment
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTenheadingEleven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEleven" aria-expanded="false" aria-controls="panelsStayOpen-collapseEleven">
                <h5>What to do if there’s a delay during cash-out?</h5>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseEleven" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTenheadingEleven">
            <div class="accordion-body text-black">
                <ul class="ul-accord">
                    <li>
                        <p>
                            <span class="rounded-circle bg-warning text-black fw-bold check"><i class="fa-solid fa-info"></i></span>
                            If there’s a delay within 5 minutes, kindly contact our CS or visit our <a href="https://www.facebook.com/GoPlayAsiaOFFICIAL"><i class="fa-brands fa-square-facebook"></i> Facebook Page</a> for clarifications and procedures. Kindly, send the following:
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            Player Username
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            Registered Mobile Number
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="rounded-circle bg-success text-white fw-bold check"><i class="fa-solid fa-check"></i></span>
                            Cashout Reference Number
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
