.check {
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
ul.ul-accord{
    padding-left: 0;
}
ul.ul-accord > li {
    list-style: none;
}
