    <h4 class="text-white fw-bold pt-4">Featured Games</h4>
<div class="row pb-5 pt-5 justify-content-center">

        <div class="card m-2 p-0 mb-5" style="width: 18rem;">
            <div class="container-fluid p-0 bg-GPA">
                <img src="./img/featuredGames/GPA.png" class="card-img-top featGames-bg GPA">
            </div>
            <div class="card-body pt-0">
                <div class="content text-center">
                    <h5 class="card-title text-start fw-bold">GOPLAYASIA</h5>
                    <p class="card-text text-start">Dive into fun and winning with our culturally significant remote games.</p>
                    <a href="#" class="btn btn-warning">Join the fun!</a>
                </div>
            </div>
        </div>

        <div class="card m-2 p-0 mb-5" style="width: 18rem;">
            <div class="container-fluid p-0 bg-img">
                <img src="./img/featuredGames/LJ-2.png" class="card-img-top featGames-bg basketBall">
            </div>
            <div class="card-body pt-0">
                <div class="content text-center">
                    <h5 class="card-title text-start fw-bold">ESPORTS</h5>
                    <p class="card-text text-start">Unleash your passion at the ultimate gaming hub.</p>
                    <button href="#" class="btn btn-warning">Enter the game!</button>
                </div>
            </div>
        </div>

        <div class="card m-2 p-0 mb-5" style="width: 18rem;">
            <div class="container-fluid p-0 bg-casino">
                <img src="./img/featuredGames/dealer.png" class="card-img-top featGames-bg casino">
            </div>
            <div class="card-body pt-0">
                <div class="content text-center">
                    <h5 class="card-title text-start fw-bold">POKER</h5>
                    <p class="card-text text-start">Discover exclusive gaming thrills with our premium selection.</p>
                    <a href="#" class="btn btn-warning">Take your turn!</a>
                </div>
            </div>
        </div>

        <div class="card m-2 p-0 mb-5" style="width: 18rem;">
            <div class="container-fluid p-0 bg-lottery">
                <img src="./img/featuredGames/winner.png" class="card-img-top featGames-bg lottery">
            </div>
            <div class="card-body pt-0">
                <div class="content text-center">
                    <h5 class="card-title text-start fw-bold">SLOTS</h5>
                    <p class="card-text text-start">Seize the moment and let your lottery dreams unfold.</p>
                    <a href="#" class="btn btn-warning">Get your ticket now!</a>
                </div>
            </div>
        </div>
    </div>