footer {
    color: #b2b2b2;
}
ul.nav > li.nav-item a.text-muted:hover {
    color: goldenrod !important;
}

/*================== Start: Chat Support Icon Properties ======================*/
.chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 999;
    border-radius: 15%;
    padding: 5px;
    background: #ffca2c;
}

    .chat-icon img {
        width: 50px;
    }

.chat-popup {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    max-width: 300px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.chat-header {
    padding: 10px;
    background-color: #ffca2c;
    color: white;
    text-align: center;
}

.chat-close {
    cursor: pointer;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.chat-content {
    padding: 10px;
}