<div class="container text-white">
    <h3 class="text-center text-warning">Regulated &amp; Secure Gaming Experience</h3>
    <div class="row pb-2 pt-5 justify-content-center">

        <div class="card m-4 p-0 bg-transparent h-25" style="width: 13rem;">
            <div class="container-fluid p-0">
                <img src="./img/UB-footer.png" class="img-fluid" alt="">
            </div>
            <div class="content text-center">
                <p class="text-sm-start">Partnering with UnionBank, you can have fast, easy and secure access to your funds.</p>
            </div>
        </div>

        <div class="card m-4 p-0 h-25 bg-transparent" style="width: 13rem;">
            <div class="container-fluid p-0">
                <img src="./img/Lock-footer.png" class="img-fluid" alt="">
            </div>
            <div class="content text-center">
                <p class="text-sm-start">All tokens and personal data are stored in a separate and secure storage for your privacy and protection.</p>
            </div>
        </div>

        <div class="card m-4 p-0 h-25 bg-transparent" style="width: 13rem;">
            <div class="container-fluid p-0">
                <img src="./img/GPA-footer.png" class="img-fluid" alt="">
            </div>
            <div class="content text-center">
                <p class="text-sm-start">All our games are guaranteed live and stable for your uninterrupted enjoyment.</p>
            </div>
        </div>

        <div class="card m-4 p-0 h-25 bg-transparent" style="width: 13rem;">
            <div class="container-fluid p-0">
                <img src="./img/bmm-footer.png" class="img-fluid" alt="">
            </div>
            <div class="content text-center">
                <p class="text-sm-start">All games had been tested, verified and passed GLI-19 International Standards and certified by BMM Testing Laboratory.</p>
            </div>
        </div>

        <div class="card m-4 p-0 h-25 bg-transparent" style="width: 13rem;">
            <div class="container-fluid p-0">
                <img src="./img/Pagcor-footer.png" class="img-fluid" alt="">
            </div>
            <div class="content text-center">
                <p class="text-sm-start">GoPlayAsia is fully-licensed and regulated by PAGCOR.</p>
            </div>
        </div>
    </div>

    <h3 class="text-center text-warning">KEEP IT FUN. GAME RESPONSIBLY</h3>
    <div class="row pb-2 pt-3 justify-content-center">

        <div class="card m-4 p-0 h-25 bg-transparent" style="width: 20rem;">
            <div class="container-fluid p-0 w-25">
                <img src="./img/21-and-Above-White.png" class="img-fluid" alt="">
            </div>
            <div class="content text-center">
                <h5>AGE RESTRICTION</h5>
                <p class="text-sm-start px-5">Only players 21 years old and above are allowed to play our remote gaming games.</p>
            </div>
        </div>

        <div class="card m-4 p-0 h-25 bg-transparent" style="width: 20rem;">
            <div class="container-fluid p-0 w-25">
                <img src="./img/GPA-Logo-Footer.png" class="img-fluid" alt="">
            </div>
            <div class="content text-center">
                <h5>RESPONSIBLE GAMING</h5>
                <p class="text-sm-start px-5">Keeping the Filipino family in mind, we promote responsible gaming in all our games.</p>
            </div>
        </div>

        <div class="card m-4 p-0 h-25 bg-transparent" style="width: 20rem;">
            <div class="container-fluid p-0 w-25">
                <img src="./img/Keep-It-Fun-White.png" class="img-fluid" alt="">
            </div>
            <div class="content text-center">
                <h5>KEEP IT FUN & PLAY SMART</h5>
                <p class="text-sm-start px-5">Our games are exciting! Keep it cool and have fun playing online!</p>
            </div>
        </div>

    </div>
</div>