<h4 class="text-white fw-bold pt-4">Most Played Games</h4>
<div id="gamesContainer" class="row pb-0 pt-0 justify-content-center mb-overflow">

    <div id="gpa-games-1" class="card m-4 p-0" style="width: 18rem;">
        <div class="container-fluid p-0">
            <img src="./img/GPAGames/L9.png" class="card-img-top featGames-bg GPA">
        </div>
        <div class="card-body pt-0 mb-hide">
            <div class="content text-center">
                <h5 class="card-title text-start fw-bold">Lucky 9</h5>
                <p class="card-text text-start">
                    <span>A race to 9 card game.</span><br>
                    Player with highest value of exact 9 or nearest to 9 wins. Test it and put your luck on the flip of a card.
                </p>
            </div>
        </div>
        <div class="text-center mb-show">
            <a class="btn-seeMore">Play Now / Watch Tutorial</a>
        </div>
        <div class="hideContent">
            <div class="container-fluid mb-content text-center pt-3 pb-1 mb-5">
                <h3 class="pt-4 text-white fw-bold">Let GoPlay!</h3>
                <h1 class="text-warning fw-bold">Lucky 9</h1>
                <button class="btn btn-warning play-btn">
                    <span class="fw-bold">Play Now</span>
                    <div class="arrow">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
            </div>
            <div class="btn-img-container d-flex pt-3">
                <div class="col">
                    <img src="./img/GPAGames/cat.gif" class="img-fluid">
                </div>
                <div class="col">
                    <p class="bubble bubble-bottom-left">
                        <a href="#">Watch Tutorial</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="gpa-games-2" class="card m-4 p-0" style="width: 18rem;">
        <div class="container-fluid p-0">
            <img src="./img/GPAGames/F3.png" class="card-img-top featGames-bg basketBall">
        </div>
        <div class="card-body pt-0 mb-hide">
            <div class="content text-center">
                <h5 class="card-title text-start fw-bold">First 3</h5>
                <p class="card-text text-start">
                    <span>Another card game with highest card value among the 3 card wins.</span><br>
                    <span>Limitless opportunities await you.</span>
                </p>
            </div>
        </div>
        <div class="text-center mb-show">
            <a class="btn-seeMore">Play Now / Watch Tutorial</a>
        </div>
        <div class="hideContent">
            <div class="container-fluid mb-content text-center pt-3 pb-1 mb-5">
                <h3 class="pt-4 text-white fw-bold">Let GoPlay!</h3>
                <h1 class="text-warning fw-bold">First 3</h1>
                <button class="btn btn-warning play-btn">
                    <span class="fw-bold">Play Now</span>
                    <div class="arrow">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
            </div>
            <div class="btn-img-container d-flex pt-3">
                <div class="col">
                    <img src="./img/GPAGames/cat.gif" class="img-fluid">
                </div>
                <div class="col">
                    <p class="bubble bubble-bottom-left">
                        <a href="#">Watch Tutorial</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="gpa-games-3" class="card m-4 p-0" style="width: 18rem;">
        <div class="container-fluid p-0">
            <img src="./img/GPAGames/HT.png" class="card-img-top featGames-bg casino">
        </div>
        <div class="card-body pt-0 mb-hide">
            <div class="content text-center">
                <h5 class="card-title text-start fw-bold">Heads and Tails</h5>
                <p class="card-text text-start">
                    <span>A triple roll coins game. Three coins have H and T on each side.</span><br>
                    <span>All Three coins are simultaneously, or one by one, inserted into the coin slot and roll down.</span><br>
                    <span>Once the coins land and settle on the floor, majority upper side wins.</span>
                </p>
            </div>
        </div>
        <div class="text-center mb-show">
            <a class="btn-seeMore">Play Now / Watch Tutorial.</a>
        </div>
        <div class="hideContent">
            <div class="container-fluid mb-content text-center pt-3 pb-1 mb-5">
                <h3 class="pt-4 text-white fw-bold">Let GoPlay!</h3>
                <h3 class="text-warning fw-bold pb-3">Heads and Tails</h3>
                <button class="btn btn-warning play-btn">
                    <span class="fw-bold">Play Now</span>
                    <div class="arrow">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
            </div>
            <div class="btn-img-container d-flex pt-3">
                <div class="col">
                    <img src="./img/GPAGames/cat.gif" class="img-fluid">
                </div>
                <div class="col">
                    <p class="bubble bubble-bottom-left">
                        <a href="#">Watch Tutorial</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="gpa-games-4" class="card m-4 p-0" style="width: 18rem;">
        <div class="container-fluid p-0">
            <img src="./img/GPAGames/BW.png" class="card-img-top featGames-bg casino">
        </div>
        <div class="card-body pt-0 mb-hide">
            <div class="content text-center">
                <h5 class="card-title text-start fw-bold">Big Win</h5>
                <p class="card-text text-start">
                    <span>A five drop ball game with five canisters having letters A-Z.</span><br>
                    <span> One ball will be dropped into each of the canisters to land on particular letters in exact order to declare the winning combinations.</span>
                </p>
            </div>
        </div>
        <div class="text-center mb-show">
            <a class="btn-seeMore">Play Now / Watch Tutorial</a>
        </div>
        <div class="hideContent">
            <div class="container-fluid mb-content text-center pt-3 pb-1 mb-5">
                <h3 class="pt-4 text-white fw-bold">Let GoPlay!</h3>
                <h1 class="text-warning fw-bold">Big Win</h1>
                <button class="btn btn-warning play-btn">
                    <span class="fw-bold">Play Now</span>
                    <div class="arrow">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
            </div>
            <div class="btn-img-container d-flex pt-3">
                <div class="col">
                    <img src="./img/GPAGames/cat.gif" class="img-fluid">
                </div>
                <div class="col">
                    <p class="bubble bubble-bottom-left">
                        <a href="#">Watch Tutorial</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="gpa-games-5" class="card m-4 p-0" style="width: 18rem;">
        <div class="container-fluid p-0">
            <img src="./img/GPAGames/L4.png" class="card-img-top featGames-bg GPA">
        </div>
        <div class="card-body pt-0 mb-hide">
            <div class="content text-center">
                <h5 class="card-title text-start fw-bold">Lucky 4</h5>
                <p class="card-text text-start">
                    <span>A four drop ball game with three canisters having numbers 0-9 and one canister having letters A-J.</span><br>
                    <span> One ball will be dropped into each of the canisters to land on particular letters and number in exact order to declare the winning combinations.</span>
                </p>
            </div>
        </div>
        <div class="text-center mb-show">
            <a class="btn-seeMore">Play Now / Watch Tutorial.</a>
        </div>
        <div class="hideContent">
            <div class="container-fluid mb-content text-center pt-3 pb-1 mb-5">
                <h3 class="pt-4 text-white fw-bold">Let GoPlay!</h3>
                <h1 class="text-warning fw-bold">Lucky 4</h1>
                <button class="btn btn-warning play-btn">
                    <span class="fw-bold">Play Now</span>
                    <div class="arrow">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
            </div>
            <div class="btn-img-container d-flex pt-3">
                <div class="col">
                    <img src="./img/GPAGames/cat.gif" class="img-fluid">
                </div>
                <div class="col">
                    <p class="bubble bubble-bottom-left">
                        <a href="#">Watch Tutorial</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="gpa-games-6" class="card m-4 p-0" style="width: 18rem;">
        <div class="container-fluid p-0 bg-img">
            <img src="./img/GPAGames/G12.png" class="card-img-top featGames-bg basketBall">
        </div>
        <div class="card-body pt-0 mb-hide">
            <div class="content text-center">
                <h5 class="card-title text-start fw-bold">Go 12</h5>
                <p class="card-text text-start">
                    <span>A single drop ball game with numbers and colors to start your winning ways.</span><br>
                    <span>Let’s GoPlay!</span>
                </p>
            </div>
        </div>
        <div class="text-center mb-show">
            <a class="btn-seeMore">Play Now / Watch Tutorial</a>
        </div>
        <div class="hideContent">
            <div class="container-fluid mb-content text-center pt-3 pb-1 mb-5">
                <h3 class="pt-4 text-white fw-bold">Let GoPlay!</h3>
                <h1 class="text-warning fw-bold">Go12</h1>
                <button class="btn btn-warning play-btn">
                    <span class="fw-bold">Play Now</span>
                    <div class="arrow">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
            </div>
            <div class="btn-img-container d-flex pt-3">
                <div class="col">
                    <img src="./img/GPAGames/cat.gif" class="img-fluid">
                </div>
                <div class="col">
                    <p class="bubble bubble-bottom-left">
                        <a href="#">Watch Tutorial</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    @* <div id="gpa-games-7" class="card m-4 p-0" style="width: 18rem;">
        <div class="container-fluid p-0 bg-img">
            <img src="./img/GPAGames/new-dice.png" class="card-img-top featGames-bg basketBall">
        </div>
        <div class="card-body pt-0 mb-hide">
            <div class="content text-center">
                <h5 class="card-title text-start fw-bold">Dice</h5>
                <p class="card-text text-start">
                    <span>Triple the fun, triple the chance!</span><br>
                    <span>Explore a world of numbers and colors, letting each roll define your winning destiny.</span><br>
                    <span>Let’s GoPlay!</span>
                </p>
            </div>
        </div>
        <div class="text-center mb-show">
            <a class="btn-seeMore">Play Now / Watch Tutorial</a>
        </div>
        <div class="hideContent">
            <div class="container-fluid mb-content text-center pt-3 pb-1 mb-5">
                <h3 class="pt-4 text-white fw-bold">Let GoPlay!</h3>
                <h1 class="text-warning fw-bold">Dice</h1>
                <button class="btn btn-warning">Play Now</button>
            </div>
            <div class="btn-img-container d-flex pt-3">
                <div class="col">
                    <img src="./img/GPAGames/cat.gif" class="img-fluid">
                </div>
                <div class="col">
                    <p class="bubble bubble-bottom-left">
                        <a href="#">Watch Tutorial</a>
                    </p>
                </div>
            </div>
        </div>
    </div> *@

</div>



<script>
    $(document).ready(function () {
        $(document).ready(function () {
            $('a.btn-seeMore').click(function () {
                // Find the closest parent with class 'card'
                var parentCard = $(this).closest('.card');

                // Find the child element with class 'hideContent' within the parent card
                var hideContent = parentCard.find('.hideContent');

                // Toggle the 'showContent' class for the hideContent div
                hideContent.toggleClass('showContent');

                setTimeout(function () {
                    hideContent.removeClass('showContent');
                }, 10000);
            });
        });
    });
</script>