@inherits LayoutComponentBase
@using GoPlayAsia.Components.Layout
@using GoPlayAsia.Components.Pages


<NavMenu />

<div class="page">
    <main>
        @Body
    </main>
</div>

<div class="container-fluid footer">
    <Footer />
</div>

