<div id="goPlayAsia-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active bg-bigWin">
            <div class="text-center carousel-fade">
                <img src="./img/ourTeam/GoPlayAsia-Gaming-Area-01-1.jpeg" class="img-fluid img-mobile rounded m-3" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" />
                <img src="./img/ourTeam/CSR-01.jpg" class="img-fluid img-mobile rounded m-3" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" />
            </div>
        </div>

        <div class="carousel-item bg-lucky9">
            <div class="text-center carousel-fade">
                <img src="./img/ourTeam/CSR-02.jpg" class="img-fluid img-mobile rounded m-3" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" />
                <img src="./img/ourTeam/CSR-03.jpg" class="img-fluid img-mobile rounded m-3" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" />
            </div>
        </div>

        <div class="carousel-item bg-headAndTails">
            <div class="text-center carousel-fade">
                <img src="./img/ourTeam/GoPlayAsia-Gaming-Area-02.jpeg" class="img-fluid img-mobile rounded m-3" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" />
                <img src="./img/ourTeam/GoPlayAsia-Gaming-Area-03-1.jpeg" class="img-fluid img-mobile rounded m-3" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" />
            </div>
        </div>

        <div class="carousel-item bg-diceGame">
            <div class="text-center carousel-fade">
                <img src="./img/ourTeam/GoPlayAsia-Gaming-Area-04-1.jpeg" class="img-fluid img-mobile rounded m-3" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" />
                <img src="./img/ourTeam/GoPlayAsia-Gaming-Area-05-1.jpeg" class="img-fluid img-mobile rounded m-3" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" />
            </div>
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#goPlayAsia-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#goPlayAsia-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>