<div class="row">
    <div class="container mb-5">
        <img src="./img/Welcome-GPA.png" class="img-fluid mx-auto d-block" alt="Welcome to Go Play Asia">
        <div class="container-fluid w-75 text-white text-xl-start">
            <p>
                Go for fun and limitless chances of winning in our remote games that have been a part of the Filipino cultures for generations. Open to all Philippine residents 21 years old and above, all out games are guaranteed to bring more colors and enjoyment into your free time.
            </p>
            <p>Totally online from registration, to cash-in and cash-out – no more long lines, no more rain or hot weather outdoor, just play from the comfort of where you are.</p>
            <h5>Let’s GOPLAY!</h5>
        </div>
    </div>
</div>